


// Customized properties

$fullhd: 1800px

// Everything else

.searchBar
	margin-bottom: 20px


body
	height: 100%
	background-color: #333

h1, h2
	color: white

.box
	transition: 0.3s all

.router-link-active
	.box
		transform: translateY(-5px)
		box-shadow: 0px 5px 20px gray


// --- Spells ---

// Container tile for "spells" sidebar tiles
.shortTileSidebar
	height: 500px
	position: sticky
	top: 0

.spellNameSidebar
	max-height: 90%
	overflow: scroll
